
<header>
    <div class="container">
        <div class="row d-flex justify-content-between">
            <a href='{% url "home" %}' class="col-1">
                 <img class="w-75 h-75"
                      src="https://w7.pngwing.com/pngs/914/524/png-transparent-pepsi-logo-pepsi-max-pepsi-blue-pepsi-globe-logo-pepsi-blue-food-7-up.png">
            </a>
            <div class="col-6">
                 <ul class="nav w-100 fs-4">

                      <li class="nav-item">
                        <a class="nav-link text-dark" aria-current="page" href="{% url 'home' %}"> Главная </a>

                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'article_list' %}"> Статьи</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}"> Книги</a>
                      </li>

                 </ul>
            </div>
            <div class="col-4">
<!--                ДЗ: Написать -->




            </div>




        </div>
    </div>
</header>